Repository SaturnFromTitan/profile-pdf: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, mypy

uv-lock-check:
  name: uv-lock-check
  entry: uv lock
  language: system
  pass_filenames: false
  args:
  - --check

ruff-format:
  name: ruff-format
  language: system
  entry: uv run --no-sync ruff format

ruff-check:
  name: ruff-check
  language: system
  entry: uv run --no-sync ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  language: system
  entry: uv run --no-sync mypy

feat: improved bullet points
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

chore: split templates
  src/profile_pdf/templates/partials/cover_page.html
  src/profile_pdf/templates/partials/experience.html
  src/profile_pdf/templates/profile.html
Due: none

chore: split css files
  src/profile_pdf/generate.py
  src/profile_pdf/styles/base.css
  src/profile_pdf/styles/cover_page.css
  src/profile_pdf/styles/custom.css
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

fix: don't silently ignore jinja2 errors
  src/profile_pdf/generate.py
  src/profile_pdf/templates/partials/experiences.html
Due: ruff-format, ruff-check, mypy

chore: simplify location default value
  src/profile_pdf/models.py
  src/profile_pdf/templates/partials/experiences.html
Due: ruff-format, ruff-check, mypy

chore: move complex duration logic to custom filter
  src/profile_pdf/generate.py
  src/profile_pdf/templates/partials/experiences.html
  tests/test_filters.py
Due: ruff-format, ruff-check, mypy

chore: simplify test case
  tests/test_filters.py
Due: ruff-format, ruff-check, mypy

chore: rearrange points
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: misc (#5)
  src/profile_pdf/generate.py
  src/profile_pdf/models.py
  src/profile_pdf/styles/base.css
  src/profile_pdf/styles/cover_page.css
  src/profile_pdf/styles/custom.css
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/cover_page.html
  src/profile_pdf/templates/partials/experiences.html
  src/profile_pdf/templates/profile.html
  tests/test_filters.py
Due: ruff-format, ruff-check, mypy

ci: rework workflows
  .github/workflows/pages.yml
  .github/workflows/partial-ci-checks.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  justfile
  pyproject.toml
Due: uv-lock-check

ci: rework workflows (#10)
  .github/workflows/pages.yml
  .github/workflows/partial-ci-checks.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  justfile
  pyproject.toml
Due: uv-lock-check

ci: fix release should include the generated pdf
  .github/workflows/release.yml
Due: none

chore: bump version
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: don't depend on pdf name
  .github/workflows/release.yml
Due: none

ci: fix release should include the generated pdf (#11)
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: fix release artifact v2
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: fix release artifact v2 (#12)
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: company logos
  pyproject.toml
  src/profile_pdf/media/comp-logo-auto1.jpeg
  src/profile_pdf/media/comp-logo-bayer.jpeg
  src/profile_pdf/media/comp-logo-blablacar.jpeg
  src/profile_pdf/media/comp-logo-clearly.jpeg
  src/profile_pdf/media/comp-logo-hellofresh.jpeg
  src/profile_pdf/media/comp-logo-lemontree.jpeg
  src/profile_pdf/media/comp-logo-omio.jpeg
  src/profile_pdf/media/comp-logo-pandas.jpeg
  src/profile_pdf/media/comp-logo-pythomation.jpeg
  src/profile_pdf/media/comp-logo-selly.jpeg
  src/profile_pdf/media/comp-logo-spreadshirt.jpeg
  src/profile_pdf/media/comp-logo-teg.jpeg
  src/profile_pdf/media/comp-logo-vonovia.jpeg
  src/profile_pdf/media/comp-logo-zalando.jpeg
  src/profile_pdf/media/ed-logo-unileipzig.jpeg
  src/profile_pdf/media/logo-aws.png
  src/profile_pdf/media/logo-python.png
  src/profile_pdf/models.py
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

fix: test
  tests/test_generate.py
Due: ruff-format, ruff-check, mypy

feat: company logos (#13)
  pyproject.toml
  src/profile_pdf/media/comp-logo-auto1.jpeg
  src/profile_pdf/media/comp-logo-bayer.jpeg
  src/profile_pdf/media/comp-logo-blablacar.jpeg
  src/profile_pdf/media/comp-logo-clearly.jpeg
  src/profile_pdf/media/comp-logo-hellofresh.jpeg
  src/profile_pdf/media/comp-logo-lemontree.jpeg
  src/profile_pdf/media/comp-logo-omio.jpeg
  src/profile_pdf/media/comp-logo-pandas.jpeg
  src/profile_pdf/media/comp-logo-pythomation.jpeg
  src/profile_pdf/media/comp-logo-selly.jpeg
  src/profile_pdf/media/comp-logo-spreadshirt.jpeg
  src/profile_pdf/media/comp-logo-teg.jpeg
  src/profile_pdf/media/comp-logo-vonovia.jpeg
  src/profile_pdf/media/comp-logo-zalando.jpeg
  src/profile_pdf/media/ed-logo-unileipzig.jpeg
  src/profile_pdf/media/logo-aws.png
  src/profile_pdf/media/logo-python.png
  src/profile_pdf/models.py
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
  tests/test_generate.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

tool: direnv
  .envrc
  pyproject.toml
  uv.lock
Due: uv-lock-check

tool: direnv (#14)
  .envrc
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: only use iframe on ios devices
  public/index.html
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: only use iframe on ios devices (#15)
  public/index.html
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: add flutter project to work experience
  src/profile_pdf/media/comp-logo-pull-up-club.jpeg
  src/profile_pdf/models.py
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
Due: ruff-format, ruff-check, mypy

chore: improve wording
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

chore: bump version
  pyproject.toml
  uv.lock
Due: uv-lock-check

test: make test more forgiving
  tests/test_generate.py
Due: ruff-format, ruff-check, mypy

chore: fix editorconfig
  .editorconfig
Due: none

feat: add flutter project to work experience (#16)
  .editorconfig
  pyproject.toml
  src/profile_pdf/media/comp-logo-pull-up-club.jpeg
  src/profile_pdf/models.py
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
  tests/test_generate.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: extend but hide flutter project
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: extend but hide flutter project (#17)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: update entry
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: update entry (#18)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

chore: shorten bullet e ntries of pull-up club
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

chore: shorten bullet e (#19)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: hide app project
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: hide app project (#20)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: include phone number when running locally
  .github/workflows/partial-ci-checks.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  pyproject.toml
  src/profile_pdf/generate.py
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

Path conditions:
  uv-lock-check: any of: (?x)^(
  pyproject.toml|
  uv.lock
)$

  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy: any of: \.py$
