Repository SaturnFromTitan/profile-pdf: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    # Pre-built hooks for all these "local" checks are available as well. We rather
    # define our own to ensure their version matches the one in pyproject.toml/uv.lock
    hooks:
      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock
        language: system
        pass_filenames: false
        args: [ "--check" ]
        files: |
          (?x)^(
            pyproject.toml|
            uv.lock
          )$
      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run --no-sync ruff format
        types: [python]
      - id: ruff-check
        name: ruff-check
        language: system
        entry: uv run --no-sync ruff check
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]
      - id: mypy
        name: mypy
        language: system
        entry: uv run --no-sync mypy
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude_types: [diff, pdf]
      - id: end-of-file-fixer
        exclude_types: [diff, pdf]
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: check-yaml

feat: include phone number when running locally (#21)
  .github/workflows/partial-ci-checks.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  pyproject.toml
  src/profile_pdf/generate.py
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: small adjustments
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: small adjustments (#22)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: optimise CV for refactoring position
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: update years
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: update years (#23)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: more keywords
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: more keywords (#24)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: more keywords (#25)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: improve details of a few positions
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: improve details of a few positions (#26)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: enable all projects and mention more achievements at bayer
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: enable all projects and mention more achievements at bayer (#27)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: mention linux
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: mention more keywords
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: more keywords (#28)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

fix: clarify e2e point in bayer project
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

fix: clarify e2e point in bayer project (#29)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: custom file name
  .gitignore
  justfile
  pyproject.toml
  src/profile_pdf/generate.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: custom file name (#30)
  .gitignore
  justfile
  pyproject.toml
  src/profile_pdf/generate.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: more keywords
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: improve description of vonovia
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: improve wordings
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

chore: remove unused/confusing css class
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
Due: none

feat: improve page break behaviour
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
Due: none

chore: bump version
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: misc (#31)
  pyproject.toml
  src/profile_pdf/models.py
  src/profile_pdf/styles/experiences.css
  src/profile_pdf/templates/partials/experiences.html
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: secunet
  src/profile_pdf/media/comp-logo-secunet.svg
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

chore: make FrontEnd a separate category in other fullstack projects as well
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: secunet (#32)
  pyproject.toml
  src/profile_pdf/media/comp-logo-secunet.svg
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: update secunet project
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: update secunet project (#33)
  pyproject.toml
  src/profile_pdf/models.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

ci: harden workflows and add zizmor security checks
  .github/dependabot.yml
  .github/workflows/partial-ci-checks.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  Dockerfile
  pyproject.toml
  uv.lock
  zizmor.yml
Due: uv-lock-check

chore: bump patch version
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: harden workflows and add zizmor security checks (#34)
  .github/dependabot.yml
  .github/workflows/partial-ci-checks.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  Dockerfile
  pyproject.toml
  uv.lock
  zizmor.yml
Due: uv-lock-check

ci: schedule weekly zizmor scans
  .github/workflows/zizmor.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: schedule weekly zizmor scans (#36)
  .github/workflows/zizmor.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check
