Repository SaturnFromTitan/profile-pdf: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff-format, ruff-check, mypy

uv-lock-check:
  name: uv-lock-check
  entry: uv lock
  language: system
  pass_filenames: false
  args:
  - --check

ruff-format:
  name: ruff-format
  language: system
  entry: uv run --no-sync ruff format

ruff-check:
  name: ruff-check
  language: system
  entry: uv run --no-sync ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  language: system
  entry: uv run --no-sync mypy

chore: don't define input.css
  .gitignore
  .python-version
  justfile
  src/profile_pdf/generate.py
  src/profile_pdf/styles/input.css
Due: ruff-format, ruff-check, mypy

feat: jinja template
  justfile
  pyproject.toml
  src/profile_pdf/generate.py
  src/profile_pdf/models.py
  src/profile_pdf/templates/profile.html
  src/profile_pdf/templates/template.html
Due: uv-lock-check, ruff-format, ruff-check, mypy

fix: get tailwindcss to work
  .gitignore
  justfile
  package-lock.json
  package.json
  postcss.config.js
  src/profile_pdf/__init__.py
  src/profile_pdf/generate.py
  src/profile_pdf/media/logo-aws.png
  src/profile_pdf/media/logo-python.png
  src/profile_pdf/media/photo.jpeg
  src/profile_pdf/models.py
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: define primary and secondary color
  src/profile_pdf/generate.py
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

fix: background of initial page finally works
  .gitignore
  justfile
  package-lock.json
  package.json
  postcss.config.js
  src/profile_pdf/generate.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: add content to first page
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: get fonts to work
  src/profile_pdf/generate.py
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: styling of sidebar
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: none

feat: finalise styling and content of first page
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

chore: misc
  src/profile_pdf/models.py
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: add href a tags to contact and links
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

fix: add missing font files
  src/profile_pdf/fonts/LeagueGothic-CondensedItalic.otf
  src/profile_pdf/fonts/LeagueGothic-CondensedRegular.otf
  src/profile_pdf/fonts/LeagueGothic-Italic.otf
  src/profile_pdf/fonts/LeagueGothic-Regular.otf
  src/profile_pdf/fonts/PTSans-Bold.ttf
  src/profile_pdf/fonts/PTSans-BoldItalic.ttf
  src/profile_pdf/fonts/PTSans-Italic.ttf
  src/profile_pdf/fonts/PTSans-Regular.ttf
Due: none

chore: padding
  src/profile_pdf/styles/custom.css
Due: none

feat: work experience content (styling is missing)
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: styling of work experience
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: content & styling of education
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

fix: page breaks and missing content
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: page numbers & last updated stamp
  src/profile_pdf/generate.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

fix: display dates as year/month
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

chore: small tweaks to tech stack"
  src/profile_pdf/models.py
  src/profile_pdf/templates/profile.html
Due: ruff-format, ruff-check, mypy

feat: improve texts
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
Due: ruff-format, ruff-check, mypy

feat: texts for vonovia project
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: add TEG project
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: add hidden projects
  pyproject.toml
  src/profile_pdf/models.py
Due: uv-lock-check, ruff-format, ruff-check, mypy

feat: extend technology
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: downsize images
  src/profile_pdf/media/logo-aws.png
  src/profile_pdf/media/logo-python.png
  src/profile_pdf/media/photo.jpeg
Due: none

chore: hide a few projects to reduce total page count
  src/profile_pdf/models.py
Due: ruff-format, ruff-check, mypy

feat: port to weasyprint (#1)
  .dockerignore
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  justfile
  pyproject.toml
  src/profile_pdf/__init__.py
  src/profile_pdf/fonts/LeagueGothic-CondensedItalic.otf
  src/profile_pdf/fonts/LeagueGothic-CondensedRegular.otf
  src/profile_pdf/fonts/LeagueGothic-Italic.otf
  src/profile_pdf/fonts/LeagueGothic-Regular.otf
  src/profile_pdf/fonts/PTSans-Bold.ttf
  src/profile_pdf/fonts/PTSans-BoldItalic.ttf
  src/profile_pdf/fonts/PTSans-Italic.ttf
  src/profile_pdf/fonts/PTSans-Regular.ttf
  src/profile_pdf/generate.py
  src/profile_pdf/media/logo-aws.png
  src/profile_pdf/media/logo-python.png
  src/profile_pdf/media/photo.jpeg
  src/profile_pdf/models.py
  src/profile_pdf/styles/custom.css
  src/profile_pdf/templates/profile.html
Due: uv-lock-check, ruff-format, ruff-check, mypy

docs: readme
  README.md
Due: none

feat: workflow to deploy github pages
  .dockerignore
  .github/workflows/pages.yml
  .gitignore
  Dockerfile
  README.md
  justfile
  public/CNAME
  public/index.html
  src/profile_pdf/__init__.py
Due: ruff-format, ruff-check, mypy

feat: workflow to deploy github pages (#2)
  .dockerignore
  .github/workflows/pages.yml
  .gitignore
  Dockerfile
  README.md
  justfile
  public/CNAME
  public/index.html
  src/profile_pdf/__init__.py
Due: ruff-format, ruff-check, mypy

fix: add uv.lock
  .gitignore
  uv.lock
Due: uv-lock-check

docs: explain why the pdf is shown via google drive
  public/index.html
Due: none

ci: lint and test checks in CI
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  justfile
  pyproject.toml
  tests/__init__.py
  tests/test_dummy.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

chore: small tweaks
  .github/workflows/pr.yml
  justfile
Due: none

ci: lint and test checks (#3)
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  justfile
  public/index.html
  pyproject.toml
  tests/__init__.py
  tests/test_dummy.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

test: make code testable and cover pdf generation and content
  Dockerfile
  justfile
  pyproject.toml
  src/profile_pdf/generate.py
  tests/test_generate.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

chore: being pedantic
  src/profile_pdf/generate.py
Due: ruff-format, ruff-check, mypy

chore: drop obsolete file
  tests/test_dummy.py
Due: ruff-format, ruff-check, mypy

test: make code testable and cover pdf generation and content (#4)
  Dockerfile
  justfile
  pyproject.toml
  src/profile_pdf/generate.py
  tests/test_dummy.py
  tests/test_generate.py
  uv.lock
Due: uv-lock-check, ruff-format, ruff-check, mypy

Path conditions:
  uv-lock-check: any of: (?x)^(
  pyproject.toml|
  uv.lock
)$

  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy: any of: \.py$
